#To running program as a service, adding this unit file into systemd/system/ (RaspberryPi) - systemctl daemon-reload - service service_name start
#Type:idle - systemd will delay execution of the service binary until all jobs are dispatched
#Restart Capybara_App service always if the program is on-failure or terminated
#multi-user.target - running on runlevel-3, start after the system is boot-up

[Unit]
Description=Capybara Systemd service - Building Energy Wifi
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/local/lib/python3.5/dist-packages/capybara-0.1-py3.5.egg/app/main.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target